
.menu{
	text-align: left;
 	color: green;
 	font-size: 15px;
  	background-color:black;
        margin: 0 auto;
        padding:5px 20px 0px 10px;
        overflow: hidden;
}

.menu a{
        left: auto;
        float: left; 
        color: blue;
        font-size:15px;
        padding:10px 20px 0px 10px;
        margin: 0 auto;        
}

.menu-log{
        right: auto;
        float: right;
	color:blue;
	font-size:15px;
        padding: 3px 20px 3px 10px;
        margin: 0 auto;

}

.columnA{
 	 float: left;
         width: 30%;
         padding:20px 250px 10px 10px;
         text-align:justify;

}

.columnB{
 	 float: left;
         width: 31%;
         padding:20px 10px 10px 100px;
         text-align:justify;
}

@media screen and (max-width:600px){
.columnA .columnB{
width:50%;
}
}


@media screen and (max-width:400px){
.columnA .columnB{
width:100%;
}

}

.footer
{
 	position: fixed;
  	 left: 0px;
   	bottom: 0px;
   	width: 100%;
   	background-color: black;
   	color: white;
   	text-align: center;
}

.footer a{
	 right: auto;
        float: right;
        color:blue;
        font-size:15px;
        padding: 10px 20px 10px 10px;
        margin: 0 auto;


}


